extends layout
block flipper
  div.flip-container
    div.flipper
      div.front
        img(src="http://www.gravatar.com/avatar/#{picHash}?s=200")
      div.back
        span HI!
block content
  p
    | Welcome! My name is Donald!
  p
    | This site will serve as a playground
    | to play with node.js and its modules
    | it supports!
    | More to be added!
    | Enjoy a video of a sneezing panda for now:
  p
    | <iframe width="560" height="315" src="https://www.youtube.com/embed/_rLxHi_D4KI" frameborder="0" allowfullscreen></iframe>
  p
  | Try me out!
  | <form id="messageForm" method="post" action="/message"><input id="message" type="text" name="message" /><input id="submit" type="submit" value="Submit" /></form>
