doctype 5
html
  head
    title #{title} - Donald Thai
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='sytlesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
    //script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD3J1biQst5EaR8On4-O2X3w1ginqg8gy4&sensor=true')
    script(src='/javascript/jquery-1.9.1.js')
    //script(src='/javascript/googlemaps.js')
    //script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    //script(src='/javascript/geoPosition.js')
    script(src='/javascript/initialize.js')
  body
    header
        block flipper
        h1
          a(href='https://github.com/donaldthai',target='_blank', title='Donald Thai')
            img(src='/images/github-invertocat.png', title='Donald Thai')
          a(href='https://twitter.com/HEYthaitea',target='_blank', title='@Heythaitea')
            img(src='/images/twitter-bird-light-bgs.png', title='@Heythaitea')
          span Donald Thai
    .container
      .main-content
        block content
    footer
      p Node.js with Express, Jade and Stylus
